---
---


<div class="min-h-screen bg-[url('/bandeiras.png')] bg-cover bg-top flex flex-col">
    <header class="w-full py-4 flex justify-between items-center bg-transparent">
        <div class="ml-8">
            <ul class="flex space-x-6 text-white font-semibold">
                <li><a href="/" class="hover:underline">Home</a></li>
            </ul>
           <!-- <img src="/logo.png" alt="Logo Festas São Pedro" class="h-12" /> -->
        </div> 
        <nav class="mr-8">
            <ul class="flex space-x-6 text-white font-semibold">
                <li><a href="/eventos" class="hover:underline">Eventos</a></li>
                <li><a href="/cartaz" class="hover:underline">Cartaz</a></li>
                <li><a href="/sobre" class="hover:underline">Sobre nós</a></li>
                <li><a href="/sobre" class="hover:underline">QUERO AJUDAR!</a></li>
            </ul>
        </nav>
    </header>
    <section class="flex flex-col items-center justify-center flex-1 bg-transparent">
        <p class="text-6xl font-bold text-white">Cartaz em contrução...</p>
        <!-- Fazer opção para enviar mensagem com pedidos para o cartaz -->
    </section>
</div>