---
import Cartaz from '../components/Cartaz.astro';

---

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Festas São Pedro</title>
	</head>
	<body>
		<Cartaz />
	</body>
</html>